* {
    font: arial
}

head {
  font-family: arial;
}

h1 {
  text-align: center;
}

body {
  font-family: arial;
}

.column {
    float: left;
    width: 50%;
    flex: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .title {
    text-align: center;
  }